<section class="example">
  <div class="container">
    <h3>Example</h3>
    <div *ngIf="characters$ | async as characters; else loading">
      <div *ngFor="let character of characters" class="character-card">
        <div class="name">
          {{ character.name }}
        </div>
        <div class="row">
          <div class="column">
            <table class="email-contact">
              <tr>
                <td>
                  <svg style="width:14px;height:14px" viewBox="0 0 24 24">
                    <path fill="currentColor"
                      d="M22 6C22 4.9 21.1 4 20 4H4C2.9 4 2 4.9 2 6V18C2 19.1 2.9 20 4 20H20C21.1 20 22 19.1 22 18V6M20 6L12 11L4 6H20M20 18H4V8L12 13L20 8V18Z" />
                  </svg>
                </td>
                <td class="email">
                  {{ character.address || '-' }},
                  <br>
                  District: {{ character.district}}, 
                  <br>
                  {{ character.state }} - {{ character.pincode}}

                  <br>
                  Phone: {{character.phone}}
                </td>
              </tr>
              
            </table>
          </div>
        </div>
      </div>
    </div>
    <ng-template #loading>
      <div class="loading">
        <div class="lds-ripple">
          <div></div>
          <div></div>
        </div>
      </div>
    </ng-template>
  </div>
</section>
